@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Manage Accounts";
}
@*Other accounts will be seen here*@

@if (User.IsInRole("Owner") || User.IsInRole("Admin"))
{
    <div class="text-center">
        <h1>Hello Mr. Admin</h1>
    </div>

    @if (User.IsInRole("Owner") || User.IsInRole("Admin"))
    {
        <h2 class="mb-3">Manage Accounts</h2>
        <h5 class="mt-4"><a asp-action="AddAdmin">Add an Admin</a></h5>
        @*
    <table>
        <thead>
            <tr>
            <th>Email</th>
            <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users.Count() != 0)
            {
                @foreach (User user in Model.Users)
                {
                    if (user.RoleUsers.Contains("Admin"))
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>
                                <form method="post" asp-controller="Admin" asp-action="DeleteAdmin" asp-route-userId="@user.Id">
                                    <button type="submit" class="btn btn-primary">Delete Admin</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table> *@
    }
}
else
{
    <h1>You shouldn't be here :)</h1>
}
