@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Manage Accounts";
}
@*Other accounts will be seen here*@

@if (User.IsInRole("Owner") || User.IsInRole("Admin"))
{
  <div class="text-center">
      <h1>Hello Mr. Admin</h1>
    </div>

    <h2 class="mb-3">Manage Accounts</h2>


}
else
{
    <h1>You shouldn't be here :)</h1>
}
