@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <h3>We are a small fake merch company with the goal of providing high-quality clothing at cheap prices. 
        Our clothing is infused with vibranium making it unique compared to our other competitors.</h3>
</div>


