@{
    ViewData["Title"] = "Home";
}
@*I used this website to help me make an animated slideshow
    https://www.c-sharpcorner.com/blogs/image-slide-using-bootstrap-in-asp-net-mvc
*@

<div class="text-center">
    <h1 class="display-4">AFBG Merch</h1>

</div>
