@model List<SlideshowImage>
@{
    ViewData["Title"] = "Home";
}
@*I used this website to help me make an animated slideshow
    https://www.c-sharpcorner.com/blogs/image-slide-using-bootstrap-in-asp-net-mvc
*@

<div class="text-center">
    <h1 class="display-4 mainpage">AFBG Merch</h1>
</div>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img class="d-block mx-auto" src="@Model[i].ImageUrl" alt="@Model[i].AltText" style="width:40%; height:40%;">
                </div>
            }
        </div>
    </div>
</div>
