html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1 {
    font-family: Lato;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Lato;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.footer {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.footer:hover {
    color: darkgray;
}

img {
    border: none;
    height: 56px;
    width: 56px;
}

p {
    font-size: 15px;
    font-family: Lato;
}

#container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
}

hr {
    border: none;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu {
    width: 200px;
    margin: 10px;
}

    #menu li a {
        height: 32px;
        height: 24px;
        text-decoration: none;
    }

        #menu li a:link {
            color: #FFF;
            display: block;
            padding: 8px 0 0 10px;
        }

        #menu li a:hover {
            color: #FFF;
            padding: 8px 0 0 10px;
        }
