@model List<Merchandise>
@{
    ViewData["Title"] = "Apparel";
}

@* I used this to help me make a three column foreach loop
https://stackoverflow.com/questions/55673123/how-we-can-divide-row-in-3-columns-in-foreach-loop
*@

<div class="text-center">
    <h1>Apparel</h1>
</div>
<div id="container">
    <div class="row">
        @foreach (var m in @Model)
        {
            <div class="">
                    <a asp-controller="Customer" asp-action="ViewItem" class="btn btn-primary" asp-route-id="@m.MerchId">
                    <img class="" src="" />
                    <p>@m.MerchName
                    <br/>
                    $ @m.MerchPrice</p>
                    </a>
            </div>
        }
    </div>
</div>