@{
    ViewData["Title"] = "Apparel";
}

<div class="text-center">
    <h1 class="display-4">Apparel</h1>

    <a asp-controller="Customer" asp-action="ViewItem" class="btn btn-primary">View</a>
</div>
