@model List<Merchandise>
@{
    ViewData["Title"] = "Apparel";
}
@* I used this to help me make a three column foreach loop
https://stackoverflow.com/questions/55673123/how-we-can-divide-row-in-3-columns-in-foreach-loop
*@


<div class="text-center">
    <h1>Apparel</h1>
</div>
<div class="">
    <div class="row">
        @foreach (var m in @Model)
        {
            <div id="container">
                <a asp-controller="Customer" asp-action="ViewItem" class="btn btn-primary" asp-route-id="@m.MerchId">
                    <img class="imgStyle" src="" />
                    <p>
                        @m.MerchName
                        <br />
                        $ @m.MerchPrice
                    </p>
                </a>
            </div>
        }
    </div>
</div>

<div class="navMenu">
    <nav id="menu">
        <ul>
            <li>
                <a asp-controller="Customer" asp-action="TShirtView">T-Shirts</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="SweaterView">Sweaters</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="HoodieView">Hoodies</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="BeanieView">Beanies</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="HatView">Hats</a>
            </li>
            <hr />
            <li>
                <a asp-controller="Customer" asp-action="OtherView">Other</a>
            </li>
        </ul>
    </nav>
</div>
