@model Merchandise

@{
    ViewData["Title"] = "Item";
}

<div class="text-black text-center">
    @if (@Model != null)
    {
        <h1 class="align-items-lg-start display-4">@Model.MerchName</h1>
    }
</div>
