@model Merchandise

@{
    ViewData["Title"] = "Item";
}

<div class="text-center">
        <h1 class="display-5">Item Name:</h1>
        <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MerchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MerchName)
        </dd>
    </dl>

</div>
